div {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, section {
  width: 100%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1em 2em 0 2em;
}

section {
  padding: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid var(--main-border-width) var(--main-border-color);
  height: calc(40px + 1em);
  padding-left: 0.5em;
  & > a {
    aspect-ratio: 1 / 1;
    width: calc(40px + 1em);
    line-height: 3.5;
    text-align: center;
    border: solid var(--main-border-width) var(--main-border-color);
    border-width: 0 0 0 2px;
  }
}
